body{
    
}

.a{
    text-decoration: none;
    color: purple;
    font-size: 25px;
    margin-bottom: 250px;
}

.span{
    color: orange;
}

main{
    margin-top: 100px;
}

.div{
    display: flex;
}

.img{
    width: 100px;
    margin-left: 40px;
}

.mainm{
    background-color: #E6F0F5;
}

.minem{
    text-decoration:none;
}

.h1{
    margin-left: 25px;
}

.minewiki{
    background-color: white;
    width: 97%;
    margin-left: 20px;
    text-align: center;
}

.minewiki1{
    background-color: white;
    width: 97%;
    margin-left: 20px;
    text-align: center;
}

.h11{
    color: #E6F0F5;
}

.h31 {
    position: relative;
    padding-top: 10px;
}

.h31::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 600px; 
    border-top: 2px solid black;
}

.h32 {
    position: relative;
    padding-top: 10px;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
}

.h32::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 600px; 
    border-top: 2px solid black;
}
