body {
  background-image: url("https://cdn1.epicgames.com/offer/be13f6c4fb11427fbf3313ce93b97cc0/EnterTheGungeon_S2_1200x1600_1200x1600-4d79aae1e860c191c706e4e8bfdef244_1200x1600-125549821fa047f76b5f85f630e8c4fe");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  font-family: sans-serif;
}

.fandom-logo {
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    padding: 20px;
background-color: gray ;
color: purple;
    
}

.fandom-logo span { 
    color: #eb8407; 
}

h3 {
  color: white;
  font-weight: normal;
  line-height: 1.6;
}

.lol {
  background-color: rgba(0, 0, 0, 0.75); 
  max-width: 90%;
  margin: 40px auto;
  padding: 30px;
  border-radius: 8px; 
}

.lal-title {
  color: #ff3e3e; 
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.lel{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.wiki-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 20px;
  margin-top: 40px;
}


.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; 
  text-align: center;
  width: 160px; 
  height: 140px; 
}

.image img {
  max-width: 110px;
  max-height: 90px;
  object-fit: contain; 
  margin-bottom: 12px;
}


.image p {
  color: #f1c40f;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  text-shadow: 1px 1px 2px black;
}

h2{
background-color: #F83A53;    
color: black;    
text-align: center;
}
